@media (max-width: 600px) {
    *{
      margin: 0px;
      padding: 0px;
    }
    
    body {
      background-image: url("..//img/fondo.jpg");
      background-attachment: fixed;
      background-repeat: no-repeat;
      font-family: 'Roboto', sans-serif;
    }
    
   .clear-float{
     float: none;
     clear: both;
   }
   
   #menu-container{
     width: 100%;
     border: 1px solid gray;
     float: left;
   }
   
    #menu-container ul li{
      display: block;
      float: left;
      border-right: 1px solid gray;
    }
    
    #menu-container ul li a{
      display: block;
      text-decoration: none;
      color: #791179;
      font-size: 2.7vw;
      padding: 15px;
    }

    footer{
      font-size: 2vw;
      text-align: right;
    }


}




