@media (max-width: 600px) {
    body {
      background-image: url("..//img/fondo.jpg");
      background-size: cover;
      font-family: 'Roboto', sans-serif;
    }

    #menu-container {
      border: solid 1px gray;
      text-align: center;
      width: calc(100% - 10px);
      border-radius: 20px;
    }
    
    #menu li{
      display: inline-block;
    }
    
    #menu li a {
      text-decoration: none;
      color: purple;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1.1em;
    }


}




